<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718709113658-788s5htsffain1vf4bj1qb8c99ttju63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718709113658-788s5htsffain1vf4bj1qb8c99ttju63</string>
	<key>API_KEY</key>
	<string>AIzaSyC15BO2rOnyFkDGf7z5_eL9kVgN0Kzo8zs</string>
	<key>GCM_SENDER_ID</key>
	<string>718709113658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scholargate.portfolio</string>
	<key>PROJECT_ID</key>
	<string>incasenotontime-18wjyo</string>
	<key>STORAGE_BUCKET</key>
	<string>incasenotontime-18wjyo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718709113658:ios:20299ff980daaef8acc603</string>
</dict>
</plist>